/* debug */
.row{
  border: 1px solid red;
}

[class*="col-"]{
  height: 100px;
  background-color: pink;
  border: 1px solid black;
}

/* regole generali */
.container-fluid {
   padding: 0px;
}

#jumbotron *, #about *{
  background-color: #1ABC9C;
}

.contenitore_sessanta{
  width: 60%;
  margin: auto;
}

/* regole header */
header{
  background-color: #2C3E50;
}
